# Feishu robot config by scene
# 后续可以按需替换不同场景的值

CREATE_PACKAGE_WEBHOOK_URL='https://open.feishu.cn/open-apis/bot/v2/hook/b22205bd-b2df-4016-8fda-484a060d3b9a'
CREATE_PACKAGE_WEBHOOK_URL_FAILURE='https://open.feishu.cn/open-apis/bot/v2/hook/26241492-7432-4a67-93bc-6eeac38af3db'
CREATE_PACKAGE_SECRET=
CREATE_PACKAGE_PREFIX='[版本生成]'

UPGRADE_SERVICE_WEBHOOK_URL='https://open.feishu.cn/open-apis/bot/v2/hook/b22205bd-b2df-4016-8fda-484a060d3b9a'
UPGRADE_SERVICE_WEBHOOK_URL_FAILURE='https://open.feishu.cn/open-apis/bot/v2/hook/0ef85992-ecb7-48cc-aa83-de87d17791fa'
UPGRADE_SERVICE_SECRET=
UPGRADE_SERVICE_PREFIX='[版本升级]'

MONITOR_SERVICE_WEBHOOK_URL='https://open.feishu.cn/open-apis/bot/v2/hook/26241492-7432-4a67-93bc-6eeac38af3db'
MONITOR_SERVICE_SECRET='https://open.feishu.cn/open-apis/bot/v2/hook/26241492-7432-4a67-93bc-6eeac38af3db'
MONITOR_SERVICE_PREFIX='[服务监控]'

RELEASE_NOTES_WEBHOOK_URL='https://open.feishu.cn/open-apis/bot/v2/hook/b22205bd-b2df-4016-8fda-484a060d3b9a'
RELEASE_NOTES_WEBHOOK_URL_FAILURE='https://open.feishu.cn/open-apis/bot/v2/hook/26241492-7432-4a67-93bc-6eeac38af3db'
RELEASE_NOTES_SECRET=
RELEASE_NOTES_PREFIX='[版本变更]'

BACKUP_DATABASE_WEBHOOK_URL='https://open.feishu.cn/open-apis/bot/v2/hook/26241492-7432-4a67-93bc-6eeac38af3db'
BACKUP_DATABASE_SECRET=
BACKUP_DATABASE_PREFIX='[数据库文件备份]'

ACCOUNT_BILLING_WEBHOOK_URL='https://open.feishu.cn/open-apis/bot/v2/hook/b22205bd-b2df-4016-8fda-484a060d3b9a'
ACCOUNT_BILLING_WEBHOOK_URL_FAILURE='https://open.feishu.cn/open-apis/bot/v2/hook/26241492-7432-4a67-93bc-6eeac38af3db'
ACCOUNT_BILLING_SECRET=
ACCOUNT_BILLING_PREFIX='[账户监控]'
