MANTICORE_IMAGE=manticoresearch/manticore:28.4.4
MANTICORE_CONTAINER_NAME=manticore
MANTICORE_SQL_PORT=9306
MANTICORE_HTTP_PORT=9308
MANTICORE_BINARY_PORT=9312
TZ=Asia/Shanghai
QUERY_LOG_TO_STDOUT=true
